// global style folder to import
// use: @import "../../../styles/styles.scss"; etc

@import "./colors.scss";
@import "./fonts.scss";

.MuiSvgIcon-root {
  fill: $icon_color;
}

html,
body {
  height: 100%;
  margin: 0
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.page-content {
  flex: 1 1 auto;
  padding: 32px;
  background-color: $light_gray;

  .title {
    font-size: $font_medium;
    text-align: left;
    color: $dark_gray;
    font-weight: 600;
  }
}

.form-field {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 16px;
  height: 40px;
  background-color: $white;
}

.max-width-container {
  max-width: 912px;
}