// global style folder to import
// use: @import "../../../styles/styles.scss"; etc

@import "./colors.scss";
@import "./fonts.scss";

// .MuiSvgIcon-root {
//   fill: $icon_color !important;
//   color: $icon_color !important;
// } ei toimi

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.view-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header {
  padding: 32px;
  background-color: $gray;
  color: $white;
  flex: 0 1 auto;
  h1 {
    margin-left: 16px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    padding-bottom: 16px;
  }
}

.logo {
  width: 32px;
  height: 32px;
  background-color: $white;
  display: inline-block;
}

.page-content {
  flex: 1 1 auto;
  padding: 32px;
  background-color: $light_gray;

  .title {
    font-size: $font_big;
    text-align: left;
    color: $dark_gray;
    font-weight: 600;
    margin-bottom: 40px;
  }
}

.form {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 16px;
  height: 40px;
  background-color: $white;
}

.input-field {
  height: 40px;
  border: 1px solid #eee;
  background-color: #f9f9f9;
  margin-right: 16px;
}

.button {
  height: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #ededed;
  color: #757575;
  border: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.button-blue {
  background-color: #07f;
  color: #fff;
}

.button-blue-text {
  background-color: #ededed;
  color: #07f;
}

.right  {
  float: right;
}

.fixed-width-container {
  width: 912px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  background-color: $white;
  .table-head {
    .table-head-row {
      height: 48px;
    }
  }
  .table-body {
    .table-body-row {
      height: 72px;
    }
  }
}
.table-head-col {
  color: $table_head_color;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-align: left;
  padding: 16px 24px;
  border-bottom: 1px solid #eee;
}
.table-body-col {
  color: $table_body_color;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 24px;
  border-bottom: 1px solid #eee;
}

.column-head-sort {
  font-weight: 600;
  color: #505050;
  div {
    position: relative;
    display: inline-block;
    left: 5px;
    .MuiSvgIcon-root {
      position: absolute;
      height: 0.8em;
      top: -16px;
    }
  }
}

.errors {
  background-color: rgb(255, 110, 110);
  color: $white;
  padding: 16px;
  font-size: 16p;
  line-height: 24px;
  font-weight: 500;
}
