// global style folder to import
// use: @import "../../../styles/styles.scss"; etc

@import "./colors.scss";
@import "./fonts.scss";

.page-content {
  padding: 32px;
  background-color: $light_gray;

  .title {
    font-size: $font_medium;
    text-align: left;
    color: $dark_gray;
    font-weight: 600;
  }
}
