// global style folder to import
// use: @import "../../../styles/styles.scss"; etc

@import "./colors.scss";
@import "./fonts.scss";

html,
body {
  height: 100%;
  margin: 0;
  background-color: #f1f1f1;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.view-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header {
  padding: 32px;
  background-color: $gray;
  color: $white;
  flex: 0 1 auto;
  h1 {
    margin-left: 16px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    padding-bottom: 0px;
    position: relative;
    top: -4px;
  }
}

.logo {
  width: 32px;
  height: 32px;
  background-color: $white;
  display: inline-block;
}

.page-content {
  flex: 1 1 auto;
  padding: 32px;
  background-color: $light_gray;
  margin: auto;

  .title {
    font-size: $font_big;
    text-align: left;
    color: $dark_gray;
    font-weight: 600;
    margin-bottom: 40px;
  }
}

.input-field {
  height: 40px;
  border: 1px solid #eee;
  background-color: #f9f9f9;
  margin-right: 16px;
}

.button-blue {
  background-color: #07f;
  color: #fff;
}

.button-blue-text {
  background-color: #ededed;
  color: #07f;
}

.fixed-width-container {
  width: 912px;
}

.errors {
  background-color: rgb(255, 110, 110);
  color: $white;
  padding: 16px;
  font-size: 16p;
  line-height: 24px;
  font-weight: 500;
}

.participants-form {
  display: flex;
  flex-direction: row;
  padding: 16px;
  background-color: $white;
  margin-bottom: 20px;
  .form-item {
    padding-right: 24px;
    position: relative;
    button {
      padding-left: 25px;
      padding-right: 25px;
      position: absolute;
      left: -30px;
      height: 100%;
    }
  }
}

input {
  height: 36px;
  border: 1px solid #eee;
  background-color: #f9f9f9;
  margin-right: 16px;
  width: 100%;
  text-indent: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  // color: #909090;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #909090;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #909090;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #909090;
}

button {
  height: 40px;
  // padding-left: 32px;
  // padding-right: 32px;
  background-color: #ededed;
  color: #757575;
  border: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.participants-view {
  width: 912px;
  display: flex;
  background-color: $white;
  .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    .list-header {
      display: flex;
      flex-direction: row;
      // height: 48px;
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 15px;
      padding-bottom: 16px;
      border-bottom: 1px solid #eee;
      .list-header-item {
        padding-right: 24px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #757575;
      }
    }
    .list-items {
      display: flex;
      flex-direction: column;
      .list-item {
        display: flex;
        flex-direction: row;
        height: 23px;
        padding: 24px;
        color: #505050;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        border-bottom: 1px solid #eee;
        .list-item-property {
          padding-right: 24px;
        }
      }
    }
  }
}

.flex-width-1 {
  flex: 1;
}

.flex-width-2 {
  flex: 2;
}

.flex-width-3 {
  flex: 3;
}

.no-padding {
  padding: 0px !important;
}

.MuiSvgIcon-root {
  padding-left: 30px;
  width: 24px;
  height: 24px;
  color: #909090;
}
.edit:hover {
  color: #80b7ff;
  transition: 0.5s color;
  cursor: pointer;
}
.delete:hover {
  color: #ff5959;
  transition: 0.5s color;
  cursor: pointer;
}

.right {
  text-align: right;
  float: right;
}

button:hover {
  cursor: pointer;
  background-color: #757575;
  color: #ededed;
  transition: 0.5s;
}
